@model wa_citas_medicas.Dtos.RegistroMedicoDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container mt-5">
    <h1 class="text-center">Registrar Médico</h1>
    <form asp-action="Create" method="post" class="mt-4">
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" asp-for="Nombre" class="form-control" id="Nombre" required>
        </div>

        <div class="mb-3">
            <label for="Apellido" class="form-label">Apellido</label>
            <input type="text" asp-for="Apellido" class="form-control" id="Apellido" required>
        </div>

        <div class="mb-3">
            <label for="Telefono" class="form-label">Teléfono</label>
            <input type="text" asp-for="Telefono" class="form-control" id="Telefono" maxlength="9">
        </div>

        <div class="mb-3">
            <label for="Especialidad" class="form-label">Especialidad</label>
            <input type="text" asp-for="Especialidad" class="form-control" id="Especialidad" required>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
